{{#partial "content"}}
<body style="background-image:url('/images/spider.jpg');
             background-repeat:no-repeat;
             background-size: cover;font-family: 'Ibarra Real Nova', serif;font-size:25px" >
 <div class="well" style="opacity:0.8;width:50%">
 <p>name:</p>

     <p>{{ squad.name }}</p>
      <p>Size:</p>

         <p>{{ squad.size}}</p>
          <p>special cause</p>

             <p>{{ squad.cause}}</p>
               <a href="/squads/{{squad.id}}/update">Edit this squad</a><br>
                     <a href="/squads/{{squad.id}}/delete">DELETE this squad(no undo)</a>

                 </div>


</body>
<footer class="footer">
        <p>Francis Kamala copyright 2020</p>

        </footer>
        <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: #cfcfcf;
           color:#262626;
           text-align: center;
            font-size:18px;
        }
        </style>
{{/partial}}

{{> layout.hbs}}